.speciesHeader {
    z-index: 0;
    background-repeat: no-repeat;
    background-position: right -10px top -20px;

    @mixin light {
        background-color: var(--mantine-color-concrete-0);
        background-image: url('/logo/logo-back-light.svg');
    }

    @mixin dark {
        background-color: var(--mantine-color-charcoal-9);
        background-image: url('/logo/logo-back-dark.svg');
    }

    /* Mobile Sizes */
    /* @media (max-width: calc(48em - 1px)) {
        display: none;
    } */

    /* @mixin light {
        background-color: var(--mantine-color-light-grey-2);
    }
    @mixin dark {
        background-color: var(--mantine-color-dark-4);
    } */
}

.hideMobile {
    /* Mobile Sizes */
    @media (max-width: calc(48em - 1px)) {
        display: none;
    }
}

.currentTaxa p, .currentTaxa a {
    line-height: 34px;
}

.currentTaxa p {
    padding-left: 12px !important;
}

.currentTaxa a {
    padding-right: 11px !important;
}

.currentTaxa {
    margin-top: 5px;
    margin-bottom: 10px !important;
    display: inline-flex !important;

    @mixin light {
        background-color: var(--mantine-color-light-grey-1);
    }

    @mixin dark {
        background-color: var(--mantine-color-dark-4);
    }
}

.citation {
    @mixin light {
        background-color: var(--mantine-color-light-grey-1);
    }

    @mixin dark {
        background-color: var(--mantine-color-dark-4);
    }
}

.speciesSectionText a, .traitsSectionText a {
    @mixin light {
        color: var(--mantine-color-ocean-9);
        &:hover {
            color: var(--mantine-color-peacock-9);
        }
    }

    @mixin dark {
        color: var(--mantine-color-glacial-2);
        &:hover {
    color: var(--mantine-color-seafoam-4);
        }
    }
}

.speciesSectionText {
    @mixin light {
        color: var(--mantine-color-gray-7);
    }

    @mixin dark {
        color: var(--mantine-color-gray-2);
    }

    > figure {
        margin-block-start: 10px;
        margin-inline-start: 10px;

        figcaption {
            font-size: var(--text-fz, var(--mantine-font-size-sm));
        }

        audio {
            width: 250px;
            height: 54px;
            display: inline !important;
            box-sizing: border-box;
        }
    }
}

.gallerySortLabel {
    font-size: var(--text-fz, var(--mantine-font-size-md)) !important;
}

.nameFormatted {
    font-style: italic;
    .rank-species {
        .name {
            font-style: italic;
        }
    }
}

.rankSpecies > .name {
    font-style: italic !important;
}

.rankName {
    margin-inline-end: 6px !important;
}

/* section for handling the cleansed species description HTML from profiles, wikipedia, etc */
.speciesSectionText p {
    margin-block: 0px;
}

/* TODO: there is an ongoing discussion about putting the pattern library colours into the theme so they can be used without additional lookups */
.h4grey {
    color: #637073 !important; /* grey */
}

/* TODO: fix usage of this override when https://github.com/AtlasOfLivingAustralia/ala-mantine/issues/11 is resolved */
.primaryButton button {
    height: 69px !important;
}

/* TODO: refactor this out when the variant can be used instead see https://github.com/AtlasOfLivingAustralia/ala-mantine/issues/12 */
.lightLarge {
    padding: 15px 15px 18px 18px !important;
}

.traitsLeftColumnWidth {
    width: 305px;
}
