/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.scientific-name { font-style: normal; display: block}
.scientific-name.rank-genus .name { font-style: italic; }
.scientific-name.rank-species .name { font-style: italic; }
.scientific-name.rank-subspecies .name { font-style: italic; }
