.header {
  z-index: 0;
  background-repeat: no-repeat;
  background-position: right -70px top -20px;

  @mixin light {
    background-color: var(--mantine-color-concrete-0);
    background-image: url('/logo/logo-back-light.svg');
  }

  @mixin dark {
    background-color: var(--mantine-color-charcoal-9);
    background-image: url('/logo/logo-back-dark.svg');
  }

  /* Mobile Sizes */
  @media (max-width: calc(48em - 1px)) {
    display: none;
  }
}

.title {
  font-style: italic;

  @mixin dark {
    color: var(--mantine-color-flamingo-4) !important;
  }
}
