.currentTaxa, .citeAusTraits {
    @mixin light {
        background-color: var(--mantine-color-charcoal-1);
    }

    @mixin dark {
        background-color: var(--mantine-color-charcoal-8);
    }
}

.citation {
    @mixin light {
        background-color: var(--mantine-color-gray-2);
    }

    @mixin dark {
        background-color: var(--mantine-color-charcoal-8);
    }
}

.speciesSectionText a, .traitsSectionText a {
    @mixin light {
        color: var(--mantine-color-ocean-9);
        &:hover {
            color: var(--mantine-color-peacock-9);
        }
    }
    
    @mixin dark {
        color: var(--mantine-color-glacial-2);
        &:hover {
    color: var(--mantine-color-seafoam-4);
        }
    }
}

.speciesSectionText {
    @mixin light {
        color: var(--mantine-color-gray-7);
    }

    @mixin dark {
        color: var(--mantine-color-gray-2);
    }

    > figure {
        margin-block-start: 10px;
        margin-inline-start: 10px;

        figcaption {
            font-size: var(--text-fz, var(--mantine-font-size-sm));
        }
        
        audio {
            width: 250px;
            height: 54px;
            display: inline !important;
            box-sizing: border-box;
        }
    }
}

.gallerySortLabel {
    font-size: var(--text-fz, var(--mantine-font-size-md)) !important;
}

.nameFormatted {
    font-style: italic;
    .rank-species {
        .name {
            font-style: italic;
        }
    }
}



.rankSpecies > .name {
    font-style: italic !important;
}