.dashboardPanel {
    float:left;
    height: 455px;
    width: 475px;
    margin: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(33,33,33);
    background-color: white;
    border-bottom-color: rgb(221,221,221);
    box-shadow: rgba(0,0,0,0.5) 0px 1px 1px 0px;
    border-radius: 4px;
    overflow: hidden;
}

.spinner-border {
    width: 14px;
    height: 14px;
}

.dashboardPanel2 {
    width: 900px;
}

.dashboardLogo {
    max-height: 100px;
    max-width: 200px;
    margin-bottom: 20px;
}

.dashboardTree {
    font-size: 14px;
    border-spacing: 0;
    text-wrap: nowrap;
}

.treeBtn {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 20px;
}

.dashboardPanelBody > table {
    padding: 20px;
    width: 100%;
    border: 0;
}

.dashboardPanelBody {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.dashboardTable {
    border-collapse: collapse;
    border-spacing: 0;
}

.dashboardTable > tbody > tr {
    border-top: 1px solid grey;
}

.dashboardTable > tbody > tr:hover {
    background-color: #f9f9f9;
}

.dashboardTable > tbody > tr > td:last-child {
    text-align: right;
}

.dashboardTable > tbody > tr > td:nth-child(even) {
    text-align: right;
}

.dashboardTable > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.dashboardTable > tbody > tr > td {
    padding: 5px;
    border-top: 1px solid #999;
}

.dashboardH1 {
    font-size: 16px;
    font-weight: 600;
    background-color: #f5f5f5;
    margin: 0px;
    padding: 7px;
    font-family: Roboto, sans-serif;
}

.dashboardPanelSubdiv {
    padding: 10px;
}

.dashboardLargeLink {
    font-size: 18px;
    color: red;
}

.dashboardVeryLargeLink {
    font-size: 3em;
    color: red;
    font-weight: bold;
}

.dashboardLargeText {
    font-size: 16px;
}

.dashboardCenter {
    text-align: center;
}

.dashboardOccurrenceRecord {
    padding-top: 100px;
}

.dashboardOccurrenceRecord > div {
    padding-bottom: 20px;
}

.dashboardSelectWrapper {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    float: right;
}

.dashboardRowLink {
    cursor: pointer;
}
