/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.header {
  z-index: 0;
  background-repeat: no-repeat;
  background-position: right -70px top -20px;

  background-color: #F2F2F2;

  /* Mobile Sizes */
  @media (max-width: calc(48em - 1px)) {
    display: none;
  }
}

.speciesHeader {
  z-index: 0;
  background-repeat: no-repeat;
  background-position: right -70px top -20px;
  background-size: 60%;

  background-color: #F2F2F2;
  background-image: url('/logo/logo-back-light.svg');

  /* Mobile Sizes */
  @media (max-width: calc(48em - 1px)) {
    display: none;
  }
}


.breadcrumb {
  color: #6c7679;

}

.title {
  font-style: italic;
}
