# general config
VITE_HOME_URL=<home-url>
VITE_AUTH_COOKIE=ALA-Auth-Test-Local=
VITE_AUTH_COOKIE_DOMAIN=localhost
VITE_ENV=local

# this app
VITE_APP_BASE_URL=http://localhost:5173

# atlas-index/search-service
VITE_APP_API_URL=http://localhost:8081
VITE_APP_ROLE_ADMIN=ROLE_ADMIN
VITE_APP_BIOCACHE_URL=<biocache-service-url>
VITE_SPECIES_URL_PREFIX=<bie-url>/species/
VITE_APP_DATA_QUALITY_URL=http://localhost:8081/v1/dq/data-profiles?enabled=true
VITE_APP_DATA_QUALITY_INVERSE_URL=http://localhost:8081/v1/dq/quality/getAllInverseCategoryFiltersForProfile
VITE_DATA_QUALITY_WIKI_URL=https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/

VITE_APP_FIELDGUIDE_DOWNLOAD_URL=http://localhost:8081/v2/download/fieldguide

# header/footer/css/js (local with static-server)
VITE_COMMON_HEADER_HTML=http://localhost:8082/static/common/banner.mustache
VITE_COMMON_FOOTER_HTML=http://localhost:8082/static/common/footer.mustache
VITE_COMMON_CSS=http://localhost:8082/static/common/common.css
VITE_COMMON_JS=http://localhost:8082/static/common/common.js

# required for commonui's header
VITE_COMMON_CONTAINER_CLASS=container-fluid
VITE_SEARCH_URL_PREFIX=<bie-url>

# atlas-index/search-service, static file, or other json URL for banner messages
VITE_BANNER_MESSAGES_URL=http://localhost:8082/static/common/status.json
VITE_BANNER_SCOPE=occurrences

# explore your area config
VITE_EYA_DEFAULT_LAT=-35.28
VITE_EYA_DEFAULT_LNG=149.13
VITE_EYA_FQ=&qualityProfile=ALA

# collectory config
VITE_APP_COLLECTORY_URL=<collections-url>

# events config
VITE_APP_EVENTS_ENABLED=true
VITE_APP_EVENTS_URL=<events-ui-url>
VITE_APP_EVENTS_GRAPHQL_URL=<events-graphql-url>
VITE_APP_EVENTS_HIERARCHY_URL=<events-ui-url>/?view=EVENTS&eventHierarchy=

# annotations/alerts config
VITE_ALERTS_MY_ANNOTATION_ENABLED=true
VITE_APP_ALERTS_WS_URL=<alerts-url>
VITE_APP_MY_ALERTS_URL=<alerts-url>/notification/myAlerts

# images config
VITE_USE_ALA_IMAGE_SERVICE=true
VITE_APP_IMAGE_SERVICE_URL=<images-url>
VITE_APP_IMAGE_VIEWER_URL=<images-url>/image/viewer?imageId=
VITE_APP_IMAGE_METADATA_URL=<images-url>/image/details?imageId=

# spatial related config
VITE_MAP_CENTRE_LAT=-28
VITE_MAP_CENTRE_LNG=133
VITE_MAP_DEFAULT_ZOOM=4
VITE_MAP_ORG=ALA
VITE_MAP_DEFAULT_OPACITY=0.8
VITE_MAP_DEFAULT_POINT_SIZE=5
VITE_MAP_DEFAULT_COLOUR=df4a21
VITE_GOOGLE_MAP_API_KEY=AIzaSyCmFl6Ba9XaAihAi0fFzrVXh6067NVR16U
VITE_OPENSTREETMAP_ZXY_URL=<base-layer-url>/osm/{z}/{x}/{y}.png
VITE_DEFAULT_MAP_ZOOM=5
VITE_APP_SPATIAL_SERVICE_URL=<spatial-service-url>
VITE_APP_SPATIAL_URL=<spatial-hub-url>
VITE_JACKKNIFE_INFO_URL=https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/DETECTED_OUTLIER_JACKKNIFE
VITE_OUTLIER_INFO_URL=https://docs.google.com/open?id=0B7rqu1P0r1N0NGVhZmVhMjItZmZmOS00YmJjLWJjZGQtY2Y0ZjczZmUzZTZl
VITE_DUPLICATE_INFO_URL=https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/INFERRED_DUPLICATE_RECOR
VITE_MAP_DOWNLOAD_BASE_LAYERS=[{"value":"baseMap.world","displayName":"Simple World Outline"},{"value":"baseLayer.aus1","displayName":"States & territories"}]

# doi config
VITE_APP_MY_DOWNLOADS_URL=<doi-url>/myDownloads

# data quality config
VITE_APP_DQ_WIKI_URL=https://github.com/AtlasOfLivingAustralia/ala-dataquality/wiki/
VITE_APP_DQ_INFO_URL=https://support.ala.org.au/support/solutions/articles/6000240256-getting-started-with-the-data-quality-filters
VITE_APP_DQ_DEFAULT_PROFILE=ALA

# download config
VITE_DOWNLOAD_MAX_RECORDS=50000
VITE_DOWNLOAD_FORMATS=dwc,legacy,custom
VITE_DOWNLOAD_FILE_TYPES=csv,tsv
VITE_DOWNLOAD_LOGGER_REASONS=[{"id":1,"name":"biosecurity management/planning"},{"id":11,"name":"citizen science"},{"id":5,"name":"collection management"},{"id":0,"name":"conservation management/planning"},{"id":7,"name":"ecological research"},{"id":3,"name":"education"},{"id":2,"name":"environmental assessment"},{"id":12,"name":"restoration/remediation"},{"id":4,"name":"scientific research"},{"id":8,"name":"systematic research/taxonomy"},{"id":13,"name":"species modelling"},{"id":6,"name":"other"},{"id":10,"name":"testing"}]
VITE_DOWNLOAD_MINT_DOI=false
VITE_DOWNLOAD_SEND_EMAIL=false
VITE_DOWNLOAD_SOURCE_TYPE_ID=2004
VITE_DOWNLOAD_QA_DEFAULT=none
VITE_DOWNLOAD_STATUS_CHECK_INTERVAL=10000
VITE_DOWNLOAD_MAX_FIELDGUIDE_SPECIES=1000
VITE_DOWNLOAD_FIELDS_DEFAULT=id,catalogNumber,taxonConceptID,raw_scientificName,raw_vernacularName,scientificName,taxonRank,vernacularName,kingdom,phylum,class,order,family,genus,species,subspecies,dataResourceUid,dateResourceName,institutionUid,institutionName,collectionUid,collectionName,license,institutionCode,collectionCode,raw_locality,raw_decimalLatitude,raw_decimalLongitude,raw_geodeticDatum,decimalLatitude,decimalLongitude,coordinatePrecision,coordinateUncertaintyInMeters,country,stateProvince,cl959,cl21,cl1048,minimumElevationInMeters,maximumElevationInMeters,minimumDepthInMeters,maximumDepthInMeters,individualCount,recordedBy,year,month,day,eventDate,verbatim_eventDate,raw_basisOfRecord,basisOfRecord,occurrenceStatus,raw_sex,preparations,informationWithheld,dataGeneralizations,outlierLayers,spatiallyValid
VITE_DOWNLOAD_FIELDS_EXTRA=
VITE_DOWNLOAD_DWC_EXTRA_FIELDS=dataResourceUid,dataResourceName,images,raw_recordedBy
VITE_DOWNLOAD_DWC_INCLUDE_RAW=true

# Record core field config
VITE_RECORD_VERNACULAR_NAME_SHOW=true
VITE_RECORD_DWC_EXCLUDE_FIELDS=dataHubUid,dataProviderUid,institutionUid,year,month,day,modified,left,right,provenance,taxonID,preferredFlag,outlierForLayers,speciesGroups,associatedMedia,images,userQualityAssertion,speciesHabitats,duplicationType,taxonomicIssues,subspeciesID,nameMatchMetric,sounds,verbatimAssociatedMedia,datasetName,fieldNumber,samplingProtocol
VITE_RECORD_MANUAL_DATASET_FIELDS=dataProviderUid,dataProviderName,dataProviderName,dataResourceUid,dataResourceName,dataResourceName,institutionUid,institutionName,institutionName,institutionCode,collectionUid,collectionName,collectionName,collectionCode,catalogNumber,otherCatalogNumbers,occurrenceID,citation,recordUuid,basisOfRecord,preparations,identifiedBy,identifierRole,recordedBy,userId,recordNumber,typeStatus,identificationQualifier,reproductiveCondition,sex,behavior,individualCount,lifeStage,rights,occurrenceDetails,duplicationStatus,associatedOccurrences
VITE_RECORD_MANUAL_EVENT_FIELDS=datasetName,eventID,parentEventID,eventHierarchy,fieldNumber,identificationRemarks,eventDate,samplingProtocol,
VITE_RECORD_MANUAL_TAXONOMY_FIELDS=higherClassification,taxonConceptID,scientificName,originalNameUsage,originalNameUsageID,taxonRank,taxonRankID,vernacularName,kingdom,kingdomID,phylum,phylumID,classs,classID,order,orderID,family,familyID,genus,genusID,species,speciesID,specificEpithet,associatedTaxa
VITE_RECORD_MANUAL_LOCATION_FIELDS=higherGeography,country,stateProvince,lga,locality,ibra,habitat,decimalLatitude,decimalLongitude,geodeticDatum,verbatimCoordinateSystem,verbatimLocality,waterBody,minimumDepthInMeters,maximumDepthInMeters,minimumElevationInMeters,maximumElevationInMeters,island,islandGroup,locationRemarks,fieldNotes,coordinatePrecision,coordinateUncertaintyInMeters,generalisedInMetres,informationWithheld,georeferenceVerificationStatus,georeferenceSources,georeferenceProtocol,georeferencedBy

# other config
VITE_FLIMIT_MAX=5000
VITE_SKIN=ALA
VITE_HUB_NAME=Atlas of Living Australia
VITE_NAMEMATCHING_URL=<namematching-service-url>
VITE_TERMS_OF_USE_URL=<terms-of-use-url>
VITE_ALA_SIGHTINGS_DR=dr123
VITE_ALA_SIGHTINGS_URL=<sightings-url>
VITE_INATURALIST_DR=dr1411
VITE_INATURALIST_URL=https://inaturalist.org
VITE_FLICKR_DR=dr123
VITE_FLICKR_URL=https://www.flickr.com

# OZCAM config
#VITE_SKIN=OZCAM
#VITE_HUB_NAME=Online Zoological Collections of Australian Museums
#VITE_QUERY_CONTEXT=dataHubUid:dh1

# AVH config
#VITE_SKIN=AVH
#VITE_HUB_NAME=The Australasian Virtual Herbarium
#VITE_AVH_EXTERNAL_URL=https://avh.chah.org.au
#VITE_USERDETAILS_URL=<userdetails-url>/myprofile
#VITE_APP_DQ_DEFAULT_PROFILE=disable
#VITE_QUERY_CONTEXT=dataHubUid:dh9
