/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.infoBg,
.infoBg th,
.infoBg td {
    background-color: #e9e9e9 !important;
}

.infoBg {
    border: 1px solid black;
}

.itemBg {
    border: 1px solid !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
